.buttonHeader {
  padding: 25px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #ff5470;
  border: none;
  text-transform: uppercase;
}
.hover {
  text-align: center;
  margin-top: 259px;
}

.buttonHeader:hover {
  background-color: #4682b4;
}
.container {
  position: relative;
  margin-top: 100px;
  width: 33%;
  height: 30px;
}
.title {
  position: absolute;
  width: 190px;
  top: 167px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgb(70, 69, 69);
  padding: 12%;
}
.container:hover .title {
  top: 60px;
}
.button {
  position: absolute;
  width: 84.8%;
  right: 15.5%;
  top: 200px;
  text-align: center;
  opacity: 0;
  height: 106px;
  margin-left: 152px;
  background-color: #ff5470;
}
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: #ff5470;
  border: solid 2px #ff5470;
  z-index: 1;
}
.container:hover .button {
  opacity: 1;
}
.hoverButton {
  margin-top: 28px;
  text-decoration: none;
  background: none;
  border: 2px solid #4682b4;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
}

.hoverButton:hover {
  background-color: #4682b4;
}
.mainContainer {
  display: flex;
  width: 60%;
  margin-left: 17.5%;
  text-transform: uppercase;
}
